# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager build artifacts
.build/

# CocoaPods (if ever use)
Pods/